<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76154461501-4km817fe2n7qehi1oi6pmihsee4ult36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76154461501-4km817fe2n7qehi1oi6pmihsee4ult36</string>
	<key>API_KEY</key>
	<string>AIzaSyCAZnF-M8zHn_bheulmMh8i7Kpgfe7oz0U</string>
	<key>GCM_SENDER_ID</key>
	<string>76154461501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs371l.beepboop1</string>
	<key>PROJECT_ID</key>
	<string>beepboop-45f8e</string>
	<key>STORAGE_BUCKET</key>
	<string>beepboop-45f8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:76154461501:ios:5705d2a0f82a784d317954</string>
</dict>
</plist>
